Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.meta
.vsconfig
.vsconfig~Stashed changes
.idea
**/RiderLink/**
*.sln.*
Build/*